/*/Name: Cathal Brady
//Student Number: C00202493   */

a
{
	text-decoration: none; 
	// removes any decorations on the text for example i had a problem with the name speed 
	//shop kept on getting underlined so i used this tofix it.
	
}
#listbox
{
	float: right; // floats the listbox to the right 
    width: 60.5%;//sets the size of the lsitbox to 60 of the screen
}
#FLeft
{
	float: left; // floats chosen variables to the left
}

#button, #button2, #button3
{
	width: 30%
}